<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
<style>
#child_id
{

    display: flex;
    justify-content: center;
    align-items: center;
    border-style: groove;
    border-width: 3px;
    width: 50%;
    height:400px;
   
      
}
#parent_id
{
    display: flex;
    justify-content: center;
}

#button_id
{
    display: flex;
    justify-content: center;
    
}

.field_with_errors 
{
  padding: 2px;
  background-color: red;
  display: table;
}
.submit_button{
    background: #C8A1E0;
    height: 30px;
    width: 150px;
}
.submit_button:hover
{
    background: #674188;
}


</style>
</head>

<body>

    <div id = "parent_id">
        <div id= 'child_id'>
            
            <%= form_with model: @author do |form| %>
                <div>
                <%= form.label :first_name, "Fist Name:" %>
                <%= form.text_field :first_name %>
                 <% @author.errors.full_messages_for(:first_name).each do |message| %>
                    <h1 class="field_with_errors" > <%= message %> </h1>
                <% end %>
                </div>
                
                <br>
                <br>

                <div>

                <%= form.label :last_name, "Last Name:" %>
                <%= form.text_field :last_name %>
                <% @author.errors.full_messages_for(:last_name).each do |message| %>
                    <h1 class="field_with_errors" > <%= message %> </h1>
                <% end %>
                </div>
                
                <br>
                <br>

                <div>
                <%= form.label :title, "Title:" %>
                <%= form.text_field :title %>
                <% @author.errors.full_messages_for(:title).each do |message| %>
                    <h1 class="field_with_errors" > <%= message %> </h1>
                <% end %>
                </div>

                <br>
                <br>

                <div id=button_id > <%= form.submit "Create" ,class: "submit_button" %> </div>
               

            <% end %>
        </div>   
    </div> 
</body>

</html>



